---
import MainLayout from "../../layouts/MainLayout.astro"
import RecipeCard from "../../components/RecipeCard.astro";
import Pagination from "../../components/Pagination.astro";
import { Icon } from "astro-icon/components";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import { RECIPES_PER_PAGE } from "../../constants";

const currentPage: number | null = +Astro.url.searchParams.get('page')! || 1;

const allRecipes: CollectionEntry<'recipes'>[] = (await getCollection('recipes'))
  .sort((a:CollectionEntry<'recipes'>, b:CollectionEntry<'recipes'>) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const totalPages: number = Math.ceil(allRecipes.length / RECIPES_PER_PAGE);

const recipesPerPage: CollectionEntry<'recipes'>[] = allRecipes.slice(
  (currentPage - 1) * RECIPES_PER_PAGE, currentPage * RECIPES_PER_PAGE);
---

<MainLayout title="Recipes | OpenStove">
      <!-- Heading Section -->
    {currentPage === 1 && (
      <div class="mt-10 py-6 sm:py-8 lg:py-12">
        <div
          class="rounded-xl bg-gradient-to-br from-[#FDC830] to-[#FF8372] px-4 py-6"
        >
          <section class="flex items-center justify-center gap-6">
            <!-- content - start -->
            <div
              class="flex w-10/12 justify-center text-center sm:py-4 md:py-12 lg:w-6/12 lg:py-0 lg:text-left"
            >
              <h1
                class="text-balance text-2xl font-bold text-dark tracking-tight md:text-3xl lg:text-4xl xl:text-5xl"
              >
                Explore, cook, and cherish recipes co-created by our global
                community of food enthusiasts.
              </h1>
            </div>
            <!-- content - end -->

            <!-- image - start -->
            <div class="hidden lg:flex lg:w-3/12">
              <Icon class="h-full w-full" name="placeholder" />
            </div>
            <!-- image - end -->
          </section>
        </div>
      </div>
    )}
   
      <!-- Buttons Container -->
      <div
        class={`flex flex-col ${currentPage === 1 ? "" : "mt-20"} gap-2.5 sm:flex-row sm:justify-center lg:justify-end`}
      >
      <a
                  class="group inline-flex items-center justify-center gap-x-3 rounded-xl bg-secondary-accent px-8 py-3 text-center font-medium text-orange-900 outline-none transition duration-300 hover:bg-secondary focus-visible:-translate-y-1 text-base 2xl:text-lg"
                  href="https://github.com/mearashadowfax/OpenStove"
                  target="_blank"
                  rel="noopener noreferrer"
                >Add a Recipe
                <Icon name="github-body" class="h-5 w-5 transition duration-300 group-hover:-translate-y-1 group-focus-visible:-translate-y-1" />  
                </a>
        <a
          class="group inline-flex items-center justify-center gap-x-3 rounded-xl bg-primary px-8 py-3 text-center  font-medium text-[#422006] outline-none transition duration-300 hover:shadow-2xl hover:shadow-primary  focus-visible:-translate-y-1 text-base 2xl:text-lg"
          href="/recipes/saved"
        >
          Saved Recipes
          <svg
            class="h-6 w-6 transition duration-300 group-hover:-translate-y-1 group-focus-visible:-translate-y-1"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M16.5 3.75V16.5L12 14.25 7.5 16.5V3.75m9 0H18A2.25 2.25 0 0 1 20.25 6v12A2.25 2.25 0 0 1 18 20.25H6A2.25 2.25 0 0 1 3.75 18V6A2.25 2.25 0 0 1 6 3.75h1.5m9 0h-9"
            />
          </svg>
        </a>
        
      </div>

      <!-- Recipe Cards -->
      <div id="recipeCards" class="mx-auto max-w-screen-2xl py-10 lg:py-14">
        <div class="grid gap-6 sm:grid-cols-2 lg:grid-cols-3">
         {recipesPerPage.map(recipe => (
          <RecipeCard recipe={recipe} />
         ))}
        </div>
        <Pagination
                currentPage={currentPage}
                totalPages={totalPages}
                disablePrevious={currentPage === 1}
                disableNext={currentPage === totalPages}
        />
      </div>

    <!-- Community Card-->
    {currentPage % 2 === 0 && (
      <div class="mx-auto mb-12">
        <div class="py-6 sm:py-8">
          <!-- Flex -->
          <div class="mx-auto flex max-w-screen-md flex-col items-center">
            <div class="flex w-9/12 items-center justify-center 2xl:w-full">
              <Icon class="h-auto w-full" name="placeholder" />
            </div>
            <!-- image - end -->
            <div class="mx-auto mt-5 sm:mt-10 lg:mt-0">
              <div class="space-y-6 sm:space-y-8">
                <!-- Title -->
                <div
                  class="mx-auto flex flex-col items-center justify-center px-4 sm:px-6 md:px-0"
                >
                  <div class="mx-auto">
                    <p
                      class="text-pretty text-center text-lg leading-relaxed text-stone-600 sm:text-xl 2xl:text-2xl dark:text-stone-400"
                    >
                      Passionate about your pesto? Fanatical about your pho?
                      Whatever your specialty, the OpenStove community is hungry
                      for your recipes.
                    </p>
                    <div class="mt-8 text-center">
                      <a
                        class="inline-flex items-center justify-center gap-x-3 rounded-xl border border-transparent bg-secondary-accent px-4 py-3 text-center text-sm font-medium text-orange-800 transition duration-300 hover:bg-secondary hover:shadow-2xl hover:shadow-secondary focus:outline-none focus-visible:-translate-y-1 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-secondary 2xl:text-base"
                        href="https://github.com/mearashadowfax/OpenStove"
                        target="_blank"
                        rel="noopener noreferrer"
                      >
                      <Icon name="github-body" class="w-4 h-4" />
                        Contribute with GitHub
                      </a>
                    </div>
                  </div>
                  <!-- End Title -->
                </div>
              </div>
            </div>
            <!-- End Col -->
          </div>
          <!-- End Flex -->
        </div>
      </div>
    )}
    </MainLayout>
