---
import MainLayout from "../../layouts/MainLayout.astro";
import Tabs from "../../components/Tabs.astro";
import InputNumber from "../../components/InputNumber.astro";
import Clipboard from "../../components/Clipboard.astro";
import Bookmark from "../../components/Bookmark.astro";
import { Image } from "astro:assets";
import misoRamen from "../../images/miso-ramen.avif";
---

<MainLayout title="Recipes | OpenStove">
  <section class="mt-10 pt-6 sm:pt-8 lg:pt-12">
    <!-- Image Start -->
    <div class="mx-auto min-w-full rounded-xl bg-cover">
      <Image
        src={misoRamen}
        class="h-80 w-full rounded-xl object-cover"
        alt="..."
      />
    </div>
    <!-- End Image -->
    <!-- Title Start -->
    <h1
      class="mx-auto mb-4 mt-10 max-w-3xl text-balance text-center text-3xl font-bold text-dark sm:text-4xl md:mb-6 md:text-6xl 2xl:max-w-4xl 2xl:text-7xl dark:text-stone-100"
    >
      Japanese Ramen
    </h1>

    <!-- End Title -->

    <!-- Top Bar Container -->
    <div
      class="mx-auto grid max-w-screen-lg gap-y-5 lg:flex lg:items-center lg:justify-between lg:gap-y-0"
    >
      <!-- Author/Date -->
      <div>
        <ul>
          <li
            class="relative inline-block pe-6 text-base text-dark before:absolute before:end-2 before:top-1/2 before:h-1 before:w-1 before:-translate-y-1/2 before:rounded-full before:bg-stone-400 last:pe-0 last-of-type:before:hidden dark:text-stone-100 dark:before:bg-stone-600"
          >
            mearashadowfax
          </li>
          <li
            class="relative inline-block pe-6 text-xs text-stone-500 before:absolute before:end-2 before:top-1/2 before:h-1 before:w-1 before:-translate-y-1/2 before:rounded-full before:bg-stone-400 last:pe-0 last-of-type:before:hidden dark:text-stone-400 dark:before:bg-stone-600"
          >
            Jan 18, 2024
          </li>
        </ul>
      </div>
      <!-- Author/Date -->

      <!-- Time/Bookmark -->
      <div class="flex items-center justify-end gap-x-1.5">
        <div class="inline-flex w-full max-w-xs gap-x-2">
          <span
            class="font-regular group inline-flex items-center gap-x-2 p-3 text-sm text-dark dark:text-stone-100"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="h-5 w-5"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
              ></path>
            </svg>
            40 min
          </span>
        </div>

        <div
          class="mx-3 block h-4 border-e border-stone-400 dark:border-stone-500"
        ></div>

        <div class="inline-flex">
          <button
            type="button"
            class="group inline-flex items-center rounded-lg p-2.5 text-dark hover:bg-orange-100 dark:text-stone-100 dark:hover:bg-stone-700"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="h-6 w-6 fill-none"
            >
              <path
                class="fill-current text-dark group-hover:text-secondary dark:text-stone-100 group-hover:dark:text-primary"
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0 1 11.186 0Z"
              ></path>
            </svg>
          </button>
        </div>
      </div>
      <!-- End Time/Bookmark -->
    </div>
    <!-- End Top Bar Container -->
  </section>

  <div class="mx-auto max-w-screen-lg">
    <div class="grid gap-y-8 lg:grid-cols-3 lg:gap-x-12 lg:gap-y-0">
      <div class="lg:col-span-2">
        <!-- Instructions Section -->
        <section class="py-6 sm:py-8 lg:py-12">
          <div class="mx-auto max-w-screen-lg">
            <h2
              class="text-3xl font-bold text-dark lg:text-4xl 2xl:text-5xl dark:text-stone-100"
            >
              Instructions:
            </h2>

            <Tabs />

            <!-- Segment 1 -->
            <div class="mt-3">
              <div
                id="segment-1"
                role="tabpanel"
                aria-labelledby="segment-item-1"
              >
                <!-- Stepper -->
                <div data-hs-stepper>
                  <!-- Stepper Nav -->

                  <ul class="relative flex flex-row gap-x-2">
                    <li
                      class="group flex flex-1 shrink basis-0 items-center gap-x-2"
                      data-hs-stepper-nav-item='{"index": 1}'
                    >
                      <span
                        class="group inline-flex min-h-[28px] min-w-[28px] items-center align-middle text-xs"
                      >
                        <span
                          class="flex h-7 w-7 flex-shrink-0 items-center justify-center rounded-full bg-orange-100 font-medium text-dark transition duration-300 group-focus:bg-stone-200 hs-stepper-active:bg-secondary hs-stepper-active:text-stone-50 hs-stepper-success:bg-secondary hs-stepper-success:text-stone-50 hs-stepper-completed:bg-secondary-accent hs-stepper-completed:group-focus:bg-secondary-accent dark:bg-stone-700 dark:text-stone-100 dark:group-focus:bg-stone-600 dark:hs-stepper-active:bg-primary dark:hs-stepper-active:text-dark dark:hs-stepper-success:bg-primary dark:hs-stepper-success:text-dark dark:hs-stepper-completed:bg-primary-accent-dark dark:hs-stepper-completed:group-focus:bg-primary-accent-dark"
                        >
                          <span
                            class="hs-stepper-success:hidden hs-stepper-completed:hidden"
                            >1</span
                          >
                          <svg
                            class="hidden h-3 w-3 flex-shrink-0 hs-stepper-success:block"
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="3"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          >
                            <polyline points="20 6 9 17 4 12"></polyline>
                          </svg>
                        </span>
                        <span
                          class="ms-2 text-sm font-medium text-dark dark:text-stone-100"
                        >
                          Step
                        </span>
                      </span>
                      <div
                        class="h-px w-full flex-1 bg-stone-200 transition duration-300 group-last:hidden hs-stepper-success:bg-secondary hs-stepper-completed:bg-secondary-accent dark:hs-stepper-success:bg-primary dark:hs-stepper-completed:bg-primary-accent-dark"
                      ></div>
                    </li>

                    <li
                      class="group flex flex-1 shrink basis-0 items-center gap-x-2"
                      data-hs-stepper-nav-item='{"index": 2}'
                    >
                      <span
                        class="group inline-flex min-h-[28px] min-w-[28px] items-center align-middle text-xs"
                      >
                        <span
                          class="flex h-7 w-7 flex-shrink-0 items-center justify-center rounded-full bg-orange-100 font-medium text-dark transition duration-300 group-focus:bg-stone-200 hs-stepper-active:bg-secondary hs-stepper-active:text-stone-50 hs-stepper-success:bg-secondary hs-stepper-success:text-stone-50 hs-stepper-completed:bg-secondary-accent hs-stepper-completed:group-focus:bg-secondary-accent dark:bg-stone-700 dark:text-stone-100 dark:group-focus:bg-stone-600 dark:hs-stepper-active:bg-primary dark:hs-stepper-active:text-dark dark:hs-stepper-success:bg-primary dark:hs-stepper-success:text-dark dark:hs-stepper-completed:bg-primary-accent-dark dark:hs-stepper-completed:group-focus:bg-primary-accent-dark"
                        >
                          <span
                            class="hs-stepper-success:hidden hs-stepper-completed:hidden"
                            >2</span
                          >
                          <svg
                            class="hidden h-3 w-3 flex-shrink-0 hs-stepper-success:block"
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="3"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          >
                            <polyline points="20 6 9 17 4 12"></polyline>
                          </svg>
                        </span>
                        <span
                          class="ms-2 text-sm font-medium text-dark dark:text-stone-100"
                        >
                          Step
                        </span>
                      </span>
                      <div
                        class="h-px w-full flex-1 bg-stone-200 transition duration-300 group-last:hidden hs-stepper-success:bg-secondary hs-stepper-completed:bg-secondary-accent dark:hs-stepper-success:bg-primary dark:hs-stepper-completed:bg-primary-accent-dark"
                      ></div>
                    </li>

                    <li
                      class="group flex flex-1 shrink basis-0 items-center gap-x-2"
                      data-hs-stepper-nav-item='{"index": 3}'
                    >
                      <span
                        class="group inline-flex min-h-[28px] min-w-[28px] items-center align-middle text-xs"
                      >
                        <span
                          class="flex h-7 w-7 flex-shrink-0 items-center justify-center rounded-full bg-orange-100 font-medium text-dark transition duration-300 group-focus:bg-stone-200 hs-stepper-active:bg-secondary hs-stepper-active:text-stone-50 hs-stepper-success:bg-secondary hs-stepper-success:text-stone-50 hs-stepper-completed:bg-secondary-accent hs-stepper-completed:group-focus:bg-secondary-accent dark:bg-stone-700 dark:text-stone-100 dark:group-focus:bg-stone-600 dark:hs-stepper-active:bg-primary dark:hs-stepper-active:text-dark dark:hs-stepper-success:bg-primary dark:hs-stepper-success:text-dark dark:hs-stepper-completed:bg-primary-accent-dark dark:hs-stepper-completed:group-focus:bg-primary-accent-dark"
                        >
                          <span
                            class="hs-stepper-success:hidden hs-stepper-completed:hidden"
                            >3</span
                          >
                          <svg
                            class="hidden h-3 w-3 flex-shrink-0 hs-stepper-success:block"
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="3"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          >
                            <polyline points="20 6 9 17 4 12"></polyline>
                          </svg>
                        </span>
                        <span
                          class="ms-2 text-sm font-medium text-dark dark:text-stone-100"
                        >
                          Step
                        </span>
                      </span>
                      <div
                        class="h-px w-full flex-1 bg-stone-200 transition duration-300 group-last:hidden hs-stepper-success:bg-secondary hs-stepper-completed:bg-secondary-accent dark:hs-stepper-success:bg-primary dark:hs-stepper-completed:bg-primary-accent-dark"
                      ></div>
                    </li>

                    <li
                      class="group flex flex-1 shrink basis-0 items-center gap-x-2"
                      data-hs-stepper-nav-item='{"index": 4}'
                    >
                      <span
                        class="group inline-flex min-h-[28px] min-w-[28px] items-center align-middle text-xs"
                      >
                        <span
                          class="flex h-7 w-7 flex-shrink-0 items-center justify-center rounded-full bg-orange-100 font-medium text-dark transition duration-300 group-focus:bg-stone-200 hs-stepper-active:bg-secondary hs-stepper-active:text-stone-50 hs-stepper-success:bg-secondary hs-stepper-success:text-stone-50 hs-stepper-completed:bg-secondary-accent hs-stepper-completed:group-focus:bg-secondary-accent dark:bg-stone-700 dark:text-stone-100 dark:group-focus:bg-stone-600 dark:hs-stepper-active:bg-primary dark:hs-stepper-active:text-dark dark:hs-stepper-success:bg-primary dark:hs-stepper-success:text-dark dark:hs-stepper-completed:bg-primary-accent-dark dark:hs-stepper-completed:group-focus:bg-primary-accent-dark"
                        >
                          <span
                            class="hs-stepper-success:hidden hs-stepper-completed:hidden"
                            >4</span
                          >
                          <svg
                            class="hidden h-3 w-3 flex-shrink-0 hs-stepper-success:block"
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="3"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          >
                            <polyline points="20 6 9 17 4 12"></polyline>
                          </svg>
                        </span>
                        <span
                          class="ms-2 text-sm font-medium text-dark dark:text-stone-100"
                        >
                          Step
                        </span>
                      </span>
                      <div
                        class="h-px w-full flex-1 bg-stone-200 transition duration-300 group-last:hidden hs-stepper-success:bg-secondary hs-stepper-completed:bg-secondary-accent dark:hs-stepper-success:bg-primary dark:hs-stepper-completed:bg-primary-accent-dark"
                      ></div>
                    </li>
                    <!-- End Item -->
                  </ul>

                  <!-- End Stepper Nav -->

                  <!-- Stepper Content -->
                  <div class="mt-5 sm:mt-8">
                    <!-- First Contnet -->
                    <div data-hs-stepper-content-item='{"index": 1}'>
                      <div
                        class="flex h-max flex-col items-center justify-center rounded-xl border border-dashed border-orange-200 p-4 dark:border-stone-600"
                      >
                        <p
                          class="text-balance text-lg font-semibold text-dark 2xl:text-xl dark:text-stone-200"
                        >
                          Make the Miso Tare
                        </p>

                        <ul
                          role="list"
                          class="dark:marker-primary mt-1 list-disc space-y-2 text-pretty ps-5 font-normal text-stone-600 marker:text-secondary 2xl:text-lg dark:text-stone-400"
                        >
                          <li>
                            In a bowl, combine the red and white miso paste,
                            soy sauce, sesame oil, grated garlic, grated
                            ginger, sake, and mirin. Mix thoroughly until it
                            forms a smooth paste. Set aside.
                          </li>
                        </ul>
                      </div>
                    </div>
                    <!-- End First Contnet -->

                    <!-- First Contnet -->
                    <div
                      data-hs-stepper-content-item='{"index": 2}'
                      style="display: none"
                    >
                      <div
                        class="flex h-max flex-col items-center justify-center rounded-xl border border-dashed border-orange-200 p-4 dark:border-stone-600"
                      >
                        <p
                          class="text-balance text-lg font-semibold text-dark 2xl:text-xl dark:text-stone-200"
                        >
                          Prepare the Soup
                        </p>
                        <ul
                          role="list"
                          class="dark:marker-primary mt-1 list-disc space-y-2 text-pretty ps-5 font-normal text-stone-600 marker:text-secondary 2xl:text-lg dark:text-stone-400"
                        >
                          <li>
                            In a large pot, heat vegetable oil over medium
                            heat. Add the sliced green onions and chopped
                            onions and sauté until translucent.
                          </li>
                          <li>
                            If using, add the sliced shiitake mushrooms and
                            sauté for an additional minute.
                          </li>
                          <li>
                            Pour in the chicken or vegetable broth and water.
                            Bring the mixture to a simmer and let it cook for
                            about 20-25 minutes on low heat.
                          </li>
                          <li>
                            After the broth has simmered, add the miso tare to
                            the soup base. Stir until completely dissolved.
                            Adjust the seasonings to taste. Keep the soup warm
                            on low heat.
                          </li>
                        </ul>
                      </div>
                    </div>
                    <!-- End First Contnet -->

                    <!-- First Contnet -->
                    <div
                      data-hs-stepper-content-item='{"index": 3}'
                      style="display: none"
                    >
                      <div
                        class="flex h-max flex-col items-center justify-center rounded-xl border border-dashed border-orange-200 p-4 dark:border-stone-600"
                      >
                        <p
                          class="text-balance text-lg font-semibold text-dark 2xl:text-xl dark:text-stone-200"
                        >
                          Cook the Ramen Noodles
                        </p>
                        <ul
                          role="list"
                          class="dark:marker-primary mt-1 list-disc space-y-2 text-pretty ps-5 font-normal text-stone-600 marker:text-secondary 2xl:text-lg dark:text-stone-400"
                        >
                          <li>
                            In a separate pot, bring water to a boil. Cook the
                            ramen noodles according to the package
                            instructions, usually for 2-3 minutes, or until al
                            dente.
                          </li>
                          <li>
                            Once cooked, drain the noodles and rinse them
                            quickly under cold water to stop the cooking
                            process. Set aside.
                          </li>
                        </ul>
                      </div>
                    </div>
                    <!-- End First Contnet -->
                    <div
                      data-hs-stepper-content-item='{"index": 4}'
                      style="display: none"
                    >
                      <div
                        class="flex h-max flex-col items-center justify-center rounded-xl border border-dashed border-orange-200 p-4 dark:border-stone-600"
                      >
                        <p
                          class="text-balance text-lg font-semibold text-dark 2xl:text-xl dark:text-stone-200"
                        >
                          Assemble the Bowls
                        </p>
                        <ul
                          role="list"
                          class="dark:marker-primary mt-1 list-disc space-y-2 text-pretty ps-5 font-normal text-stone-600 marker:text-secondary 2xl:text-lg dark:text-stone-400"
                        >
                          <li>
                            Divide the cooked ramen noodles among four bowls.
                          </li>
                          <li>
                            Carefully ladle the hot miso soup over the noodles
                            in each bowl.
                          </li>
                          <li>
                            Top each bowl with chashu or chicken, a
                            soft-boiled egg sliced in half, bean sprouts, nori
                            strips, bamboo shoots, and chopped green onions.
                          </li>
                          <li>
                            If desired, add a small pat of butter and a few
                            drops of chili oil for added richness and spice.
                          </li>
                        </ul>
                      </div>
                    </div>

                    <!-- Final Contnet -->
                    <div
                      data-hs-stepper-content-item='{"isFinal": true}'
                      style="display: none"
                    >
                      <div
                        class="flex h-max flex-col items-center justify-center rounded-xl border border-dashed border-orange-200 p-4 dark:border-stone-600"
                      >
                        <p
                          class="text-balance text-lg font-semibold text-dark 2xl:text-xl dark:text-stone-200"
                        >
                          Serve Immediately
                        </p>
                        <ul
                          role="list"
                          class="dark:marker-primary mt-1 list-disc space-y-2 text-pretty ps-5 font-normal text-stone-600 marker:text-secondary 2xl:text-lg dark:text-stone-400"
                        >
                          <li>
                            Serve your miso ramen bowls hot, stir everything
                            together and enjoy!
                          </li>
                        </ul>
                      </div>
                    </div>
                    <!-- End Final Contnet -->

                    <!-- Button Group -->
                    <div
                      class="mt-5 flex items-center justify-between gap-x-2"
                    >
                      <button
                        type="button"
                        class="group inline-flex items-center gap-x-1 rounded-lg border border-orange-200 bg-orange-100 px-3 py-2 text-sm font-medium text-orange-900 shadow-sm transition duration-300 hover:bg-orange-200 disabled:pointer-events-none disabled:opacity-50 dark:border-stone-700 dark:bg-stone-700/60 dark:text-stone-300 dark:hover:bg-stone-700"
                        data-hs-stepper-back-btn
                      >
                        <svg
                          class="h-4 w-4 flex-shrink-0 transition ease-in-out group-hover:-translate-x-1"
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          fill="none"
                          stroke="currentColor"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        >
                          <path d="m15 18-6-6 6-6"></path>
                        </svg>
                        Back
                      </button>
                      <button
                        type="button"
                        class="group inline-flex items-center gap-x-1 rounded-lg border border-transparent bg-secondary-accent px-3 py-2 text-sm font-semibold text-orange-900 transition duration-300 hover:bg-secondary disabled:pointer-events-none disabled:opacity-50 dark:bg-primary dark:text-[#422006] dark:hover:bg-primary/95"
                        data-hs-stepper-next-btn
                      >
                        Next
                        <svg
                          class="h-4 w-4 flex-shrink-0 transition ease-in-out group-hover:translate-x-1"
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          fill="none"
                          stroke="currentColor"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        >
                          <path d="m9 18 6-6-6-6"></path>
                        </svg>
                      </button>
                      <button
                        type="button"
                        class="inline-flex items-center gap-x-1 rounded-lg border border-transparent bg-secondary-accent px-3 py-2 text-sm font-semibold text-orange-900 transition duration-300 hover:bg-secondary disabled:pointer-events-none disabled:opacity-50 dark:bg-primary dark:text-[#422006] dark:hover:bg-primary/95"
                        data-hs-stepper-finish-btn
                        style="display: none"
                      >
                        Finish
                      </button>
                      <button
                        type="reset"
                        class="inline-flex items-center gap-x-1 rounded-lg border border-transparent bg-secondary-accent px-3 py-2 text-sm font-semibold text-orange-900 transition duration-300 hover:bg-secondary disabled:pointer-events-none disabled:opacity-50 dark:bg-primary dark:text-[#422006] dark:hover:bg-primary/95"
                        data-hs-stepper-reset-btn
                        style="display: none"
                      >
                        Reset
                      </button>
                    </div>
                    <!-- End Button Group -->
                  </div>
                  <!-- End Stepper Content -->
                </div>
                <!-- End Stepper -->
              </div>
            </div>
            <!-- End Segment 1 -->

            <!-- Segment 2 -->
            <div
              id="segment-2"
              class="hidden"
              role="tabpanel"
              aria-labelledby="segment-item-2"
            >
              <ol class="max-w-prose list-inside list-decimal space-y-6">
                <li
                  class="text-balance text-lg font-semibold text-dark 2xl:text-xl dark:text-stone-200"
                >
                  Make the Miso Tare

                  <ul
                    role="list"
                    class="dark:marker-primary mt-1 list-disc space-y-2 text-pretty ps-5 font-normal text-stone-600 marker:text-secondary 2xl:text-lg dark:text-stone-400"
                  >
                    <li>
                      In a bowl, combine the red and white miso paste, soy
                      sauce, sesame oil, grated garlic, grated ginger, sake,
                      and mirin. Mix thoroughly until it forms a smooth paste.
                      Set aside.
                    </li>
                  </ul>
                </li>
                <li
                  class="text-balance text-lg font-semibold text-dark 2xl:text-xl dark:text-stone-200"
                >
                  Prepare the Soup
                  <ul
                    role="list"
                    class="dark:marker-primary mt-1 list-disc space-y-2 text-pretty ps-5 font-normal text-stone-600 marker:text-secondary 2xl:text-lg dark:text-stone-400"
                  >
                    <li>
                      In a large pot, heat vegetable oil over medium heat. Add
                      the sliced green onions and chopped onions and sauté
                      until translucent.
                    </li>
                    <li>
                      If using, add the sliced shiitake mushrooms and sauté
                      for an additional minute.
                    </li>
                    <li>
                      Pour in the chicken or vegetable broth and water. Bring
                      the mixture to a simmer and let it cook for about 20-25
                      minutes on low heat.
                    </li>
                    <li>
                      After the broth has simmered, add the miso tare to the
                      soup base. Stir until completely dissolved. Adjust the
                      seasonings to taste. Keep the soup warm on low heat.
                    </li>
                  </ul>
                </li>
                <li
                  class="text-balance text-lg font-semibold text-dark 2xl:text-xl dark:text-stone-200"
                >
                  Cook the Ramen Noodles
                  <ul
                    role="list"
                    class="dark:marker-primary mt-1 list-disc space-y-2 text-pretty ps-5 font-normal text-stone-600 marker:text-secondary 2xl:text-lg dark:text-stone-400"
                  >
                    <li>
                      In a separate pot, bring water to a boil. Cook the ramen
                      noodles according to the package instructions, usually
                      for 2-3 minutes, or until al dente.
                    </li>
                    <li>
                      Once cooked, drain the noodles and rinse them quickly
                      under cold water to stop the cooking process. Set aside.
                    </li>
                  </ul>
                </li>
                <li
                  class="text-balance text-lg font-semibold text-dark 2xl:text-xl dark:text-stone-200"
                >
                  Assemble the Bowls
                  <ul
                    role="list"
                    class="dark:marker-primary mt-1 list-disc space-y-2 text-pretty ps-5 font-normal text-stone-600 marker:text-secondary 2xl:text-lg dark:text-stone-400"
                  >
                    <li>Divide the cooked ramen noodles among four bowls.</li>
                    <li>
                      Carefully ladle the hot miso soup over the noodles in
                      each bowl.
                    </li>
                    <li>
                      Top each bowl with chashu or chicken, a soft-boiled egg
                      sliced in half, bean sprouts, nori strips, bamboo
                      shoots, and chopped green onions.
                    </li>
                    <li>
                      If desired, add a small pat of butter and a few drops of
                      chili oil for added richness and spice.
                    </li>
                  </ul>
                </li>

                <li
                  class="text-balance text-lg font-semibold text-dark 2xl:text-xl dark:text-stone-200"
                >
                  Serve Immediately
                  <ul
                    role="list"
                    class="dark:marker-primary mt-1 list-disc space-y-2 text-pretty ps-5 font-normal text-stone-600 marker:text-secondary 2xl:text-lg dark:text-stone-400"
                  >
                    <li>
                      Serve your miso ramen bowls hot, stir everything
                      together and enjoy!
                    </li>
                  </ul>
                </li>
              </ol>
            </div>
            <!-- End Segment 2 -->
          </div>
        </section>
        <!-- End Instructions Section -->

        <!-- Recipe Notes Section -->
        <section class="py-6 sm:py-8 lg:py-12">
          <div class="mx-auto max-w-screen-lg">
            <h2
              class="text-3xl font-bold text-dark lg:text-4xl 2xl:text-5xl dark:text-stone-100"
            >
              Recipe Notes:
            </h2>
            <ul
              role="list"
              class="mt-4 max-w-prose list-disc space-y-2 text-pretty ps-5 text-stone-600 marker:text-secondary 2xl:text-xl dark:text-stone-400 dark:marker:text-primary"
            >
              <li>
                Dashi Stock Variation: For a more authentic base, you can use
                dashi stock combined with the broth for deeper flavor.
              </li>
              <li>
                Cooking Eggs: For soft-boiled eggs, cook them for 6-7 minutes
                in boiling water, then place them in ice water. For
                hard-boiled eggs, cook them for 9-12 minutes.
              </li>
              <li>
                Vegetarian Option: Substitute the chashu or chicken with tofu
                and use vegetable broth to make this dish vegetarian.
              </li>
              <li>
                Gluten-Free Option: Use gluten-free tamari instead of soy
                sauce, and purchase gluten-free ramen noodles.
              </li>
              <li>
                Toppings: Feel free to customize your ramen with various
                toppings like corn, buttered mushrooms, or spinach.
              </li>
              <li>
                Miso Paste: The ratio of red to white miso can be adjusted to
                taste; white miso is milder and sweeter, while red miso is
                stronger and saltier.
              </li>
            </ul>
          </div>
        </section>
        <!-- End Recipe Notes Section -->
      </div>

      <!-- Sidebar -->
      <div class="lg:col-span-1 lg:h-full lg:w-full">
        <!-- Ingredients Section -->
        <section class="mx-auto max-w-screen-lg py-6 sm:py-8 lg:py-12">
          <h2
            class="text-3xl font-bold text-dark lg:text-4xl 2xl:text-5xl dark:text-stone-100"
          >
            Ingredients:
          </h2>

          <InputNumber />

          <!-- Ingredients List Container -->
          <div class="flex flex-col space-y-4">
            <div>
              <p
                class="text-balance text-lg font-semibold text-dark 2xl:text-xl dark:text-stone-200"
              >
                For the Miso Tare (Sauce):
              </p>
              <ul
                class="flex max-w-xs flex-col divide-y divide-gray-200 dark:divide-gray-700"
              >
                <li
                  class="inline-flex items-center gap-x-2 px-4 py-3 text-sm text-dark dark:text-stone-300"
                >
                  2 teaspoons red miso paste
                </li>
                <li
                  class="inline-flex items-center gap-x-2 px-4 py-3 text-sm text-dark dark:text-stone-300"
                >
                  1 teaspoon white miso paste
                </li>
                <li
                  class="inline-flex items-center gap-x-2 px-4 py-3 text-sm text-dark dark:text-stone-300"
                >
                  1 teaspoon soy sauce
                </li>
                <li
                  class="inline-flex items-center gap-x-2 px-4 py-3 text-sm text-dark dark:text-stone-300"
                >
                  1/4 teaspoon sesame oil
                </li>
                <li
                  class="inline-flex items-center gap-x-2 px-4 py-3 text-sm text-dark dark:text-stone-300"
                >
                  1/4 teaspoon grated garlic
                </li>
                <li
                  class="inline-flex items-center gap-x-2 px-4 py-3 text-sm text-dark dark:text-stone-300"
                >
                  1/4 teaspoon grated ginger
                </li>
                <li
                  class="inline-flex items-center gap-x-2 px-4 py-3 text-sm text-dark dark:text-stone-300"
                >
                  1 teaspoon sake (optional)
                </li>
                <li
                  class="inline-flex items-center gap-x-2 px-4 py-3 text-sm text-dark dark:text-stone-300"
                >
                  1 teaspoon mirin (optional)
                </li>
              </ul>
            </div>
            <div>
              <p
                class="text-balance text-lg font-semibold text-dark 2xl:text-xl dark:text-stone-200"
              >
                For the Soup:
              </p>
              <ul
                class="flex max-w-xs flex-col divide-y divide-gray-200 dark:divide-gray-700"
              >
                <li
                  class="inline-flex items-center gap-x-2 px-4 py-3 text-sm text-dark dark:text-stone-300"
                >
                  1 cup chicken or vegetable broth
                </li>
                <li
                  class="inline-flex items-center gap-x-2 px-4 py-3 text-sm text-dark dark:text-stone-300"
                >
                  1/2 cup water
                </li>
                <li
                  class="inline-flex items-center gap-x-2 px-4 py-3 text-sm text-dark dark:text-stone-300"
                >
                  1/4 tablespoon vegetable oil
                </li>
                <li
                  class="inline-flex items-center gap-x-2 px-4 py-3 text-sm text-dark dark:text-stone-300"
                >
                  2 tablespoons sliced green onions
                </li>
                <li
                  class="inline-flex items-center gap-x-2 px-4 py-3 text-sm text-dark dark:text-stone-300"
                >
                  1/2 tablespoon chopped onions
                </li>
                <li
                  class="inline-flex items-center gap-x-2 px-4 py-3 text-sm text-dark dark:text-stone-300"
                >
                  1 ounce shiitake mushrooms, sliced (optional)
                </li>
              </ul>
            </div>
            <div>
              <p
                class="text-balance text-lg font-semibold text-dark 2xl:text-xl dark:text-stone-200"
              >
                For the Ramen:
              </p>
              <ul
                class="flex max-w-xs flex-col divide-y divide-gray-200 dark:divide-gray-700"
              >
                <li
                  class="inline-flex items-center gap-x-2 px-4 py-3 text-sm text-dark dark:text-stone-300"
                >
                  1 cup chicken or vegetable broth
                </li>
                <li
                  class="inline-flex items-center gap-x-2 px-4 py-3 text-sm text-dark dark:text-stone-300"
                >
                  1/2 cup water
                </li>
                <li
                  class="inline-flex items-center gap-x-2 px-4 py-3 text-sm text-dark dark:text-stone-300"
                >
                  1/4 tablespoon vegetable oil
                </li>
                <li
                  class="inline-flex items-center gap-x-2 px-4 py-3 text-sm text-dark dark:text-stone-300"
                >
                  2 tablespoons sliced green onions
                </li>
                <li
                  class="inline-flex items-center gap-x-2 px-4 py-3 text-sm text-dark dark:text-stone-300"
                >
                  1/2 tablespoon chopped onions
                </li>
                <li
                  class="inline-flex items-center gap-x-2 px-4 py-3 text-sm text-dark dark:text-stone-300"
                >
                  1 ounce shiitake mushrooms, sliced (optional)
                </li>
              </ul>
            </div>
          </div>
        </section>
        <!-- End Ingredients List Container -->
        <!-- End Ingredients Section -->
      </div>
    </div>
  </div>

  <!-- Bottom Bar Container -->
  <div
    class="mx-auto grid max-w-screen-lg gap-y-5 lg:flex lg:items-center lg:justify-between lg:gap-y-0"
  >
    <!-- Badges/Tags -->
    <div>
      <a
        class="inline-flex items-center gap-x-1.5 rounded-lg bg-orange-400/30 px-3 py-1.5 text-xs font-medium text-orange-800 transition-colors duration-300 group-hover:bg-orange-500/30 2xl:text-sm dark:bg-stone-700/60 dark:text-stone-300 dark:group-hover:bg-stone-600" href="#"
        >Noodles</a
      >
      <a
        class="inline-flex items-center gap-x-1.5 rounded-lg bg-orange-400/30 px-3 py-1.5 text-xs font-medium text-orange-800 transition-colors duration-300 group-hover:bg-orange-500/30 2xl:text-sm dark:bg-stone-700/60 dark:text-stone-300 dark:group-hover:bg-stone-600" href="#"
        >Noodles</a
      >
      <a
        class="inline-flex items-center gap-x-1.5 rounded-lg bg-orange-400/30 px-3 py-1.5 text-xs font-medium text-orange-800 transition-colors duration-300 group-hover:bg-orange-500/30 2xl:text-sm dark:bg-stone-700/60 dark:text-stone-300 dark:group-hover:bg-stone-600" href="#"
        >Noodles</a
      >
    </div>
    <!-- End Badges/Tags -->

    <!-- Copy/Bookmark -->
    <div class="flex items-center justify-end gap-x-1.5">
      <Clipboard />

      <div
        class="mx-3 block h-4 border-e border-stone-400 dark:border-stone-500"
      ></div>

      <div class="inline-flex">
        <Bookmark />
      </div>
      <!-- Copy/Bookmark -->
    </div>
    <!-- End Bottom Bar Container -->
  </div>
</MainLayout>