---
import MainLayout from "../../../layouts/MainLayout.astro";
import RecipeCard from "../../../components/RecipeCard.astro";
import { capitalize } from "../../../utils";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

const { tag } = Astro.params;

if (tag === undefined) {
  throw new Error("Tag is required");
}

const allRecipes: CollectionEntry<"recipes">[] = (
  await getCollection("recipes")
).sort(
  (a: CollectionEntry<"recipes">, b: CollectionEntry<"recipes">) =>
    b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const tagRecipes = allRecipes.filter((recipe: any) =>
  recipe.data.tags.includes(tag),
);
---

<MainLayout title={capitalize(tag) + " | OpenStove"}>
  <section class="min-h-screen">
    <!--Tag Title Section-->
    <div class="mt-10 py-6 sm:py-8 lg:py-12">
      <div
        class="rounded-xl bg-gradient-to-r from-[#f46b45] to-[#eea849] px-4 py-6 md:py-8 lg:py-12"
      >
        <h2
          class="mx-auto max-w-3xl text-balance text-center text-3xl font-bold text-stone-800 sm:text-4xl md:text-5xl 2xl:max-w-4xl 2xl:text-6xl"
        >
          {capitalize(tag)}
        </h2>
      </div>
    </div>

    <!-- Recipe Cards -->
    <div id="recipeCards" class="mx-auto max-w-screen-2xl">
      <div class="grid gap-6 sm:grid-cols-2 lg:grid-cols-3">
        {tagRecipes.map((recipe) => <RecipeCard recipe={recipe} />)}
      </div>
    </div>
  </section>
</MainLayout>
