---
import MainLayout from "../layouts/MainLayout.astro";
import { Icon } from "astro-icon/components";

export const prerender = true;
---

<MainLayout title="About | OpenStove">
  <!--Hero Section-->
  <div class="mt-10 py-6 sm:py-8 lg:py-12">
    <div
      class="rounded-xl bg-gradient-to-r from-primary to-secondary px-4 py-6 md:py-8 lg:py-12"
    >
      <p
        class="mb-2 bg-gradient-to-l from-[#FF512F] to-[#F09819] bg-clip-text text-center text-sm font-medium text-transparent md:mb-3 lg:text-base"
      >
        Introducing OpenStove:
      </p>
      <h2
        class="mx-auto mb-4 max-w-3xl text-balance text-center text-3xl font-bold text-dark sm:text-4xl md:mb-6 md:text-5xl 2xl:max-w-4xl 2xl:text-6xl"
      >
        A Curated Collection of Community-Crafted Recipes
      </h2>

      <p
        class="mx-auto max-w-screen-md text-pretty text-center text-stone-600 md:text-lg"
      >
        Explore a growing repository of culinary delights, meticulously
        organized and shared through GitHub contributions.
      </p>
    </div>
  </div>
  <!-- End Hero -->

  <!-- Top Content Section  -->
  <div class="py-6 sm:py-8 lg:py-12">
    <!-- Grid -->
    <div class="md:grid md:grid-cols-2 md:items-center md:gap-12 xl:gap-32">
      <div class="mt-5 sm:mt-10 lg:mt-0">
        <div class="space-y-6 sm:space-y-8">
          <!-- Title -->
          <div class="space-y-2 md:space-y-4">
            <h2
              class="text-balance text-3xl font-bold tracking-tight text-dark lg:text-4xl 2xl:text-5xl dark:text-stone-100"
            >
              Hello to all who love cooking!
            </h2>
            <p
              class="text-pretty text-stone-600 sm:text-lg 2xl:text-xl dark:text-stone-400"
            >
              OpenStove is more than just a recipe website; it's a place where
              cooking enthusiasts can come together to share their favorite
              recipes without any annoying ads or fees — completely free.
              <br /><br />

              Born from the belief that cooking should be distraction-free and
              without commercial intrusions, OpenStove thrives on the simplicity
              of sharing recipes. No ads, no paywalls — just direct access to a
              treasure trove of dishes curated and cherished by an ever-growing
              community of food lovers.
            </p>
          </div>
          <!-- End Title -->
        </div>
      </div>
      <!-- End Col -->
      <div>
        <Icon
          class="mx-auto h-auto w-3/4 md:w-10/12 2xl:w-3/4"
          name="placeholder"
        />
      </div>
      <!-- End Col -->
    </div>
    <!-- End Grid -->
  </div>
  <!-- End Top Content -->

  <!-- Features Section-->
  <div class="py-12 sm:py-16 lg:py-24">
    <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
      <h2
        class="mb-4 text-balance text-center text-2xl font-bold text-dark md:mb-6 md:text-3xl 2xl:text-4xl dark:text-stone-100"
      >
        Designed for Culinary Enthusiasts, Just Like You
      </h2>

      <p
        class="mx-auto max-w-screen-md text-pretty text-center text-stone-600 md:text-lg 2xl:text-xl dark:text-stone-400"
      >
        At OpenStove, we're committed to enhancing and sharing the joy of home
        cooking. Discover and contribute recipes in a community that celebrates
        culinary passion.
      </p>
    </div>

    <!-- Feature Cards -->
    <div
      class="mx-auto max-w-screen-2xl px-4 pt-6 sm:px-6 sm:pt-8 lg:px-8 lg:pt-12"
    >
      <!-- Grid -->
      <div class="grid gap-6 text-center lg:grid-cols-2">
        <!-- Card -->
        <div
          class="block rounded-xl bg-secondary dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"
        >
          <div class="flex h-full flex-col p-4 sm:p-6">
            <h3
              class="text-balance text-lg font-bold text-stone-800 md:text-2xl 2xl:text-3xl"
            >
              Save Your Favorites
            </h3>
            <p class="mt-2 text-pretty text-stone-700 md:text-lg 2xl:text-xl">
              Hit the bookmark icon, and your chosen recipes are saved as
              cookies in your browser — no sign-up, all simplicity. Ready to
              cook? Your 'Saved Recipes' tab gathers all your culinary
              selections in one spot, even across different sessions.
            </p>
          </div>
        </div>
        <!-- End Card -->

        <!-- Card -->
        <div
          class="block rounded-xl bg-primary dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"
        >
          <div class="flex h-full flex-col p-4 sm:p-6">
            <h3
              class="text-balance text-lg font-bold text-stone-800 sm:text-2xl 2xl:text-3xl"
            >
              Share Your Recipes
            </h3>
            <p class="mt-2 text-pretty text-stone-700 md:text-lg 2xl:text-xl">
              Got a tasty recipe? We'd love for you to add it to our collection.
              Since OpenStove is all about contributions from culinary
              enthusiasts like you, sharing your kitchen successes is essential
              to our collective cooking experience.
            </p>
          </div>
        </div>
        <!-- End Card -->
      </div>
      <!-- End Grid -->
    </div>
    <!-- End Card -->
  </div>
  <!-- End Features -->

  <!-- Contribution Block -->
  <div class="py-6 sm:py-8 lg:py-12">
    <!-- Grid -->
    <div id="contribution" class="grid gap-12 md:grid-cols-2">
      <div class="lg:w-3/4">
        <h2
          class="text-balance text-3xl font-bold text-dark lg:text-4xl 2xl:text-5xl dark:text-stone-100"
        >
          Contribution is straightforward:
        </h2>
        <p
          class="mt-4 text-pretty text-stone-600 md:mt-8 md:text-lg 2xl:text-xl dark:text-stone-400"
        >
          Joining the OpenStove community is a piece of cake. Follow these
          simple steps to add your special recipe to our collection and share
          your culinary flair with the world.
        </p>
        <div class="mt-4 md:mt-8">
          <a
            class="inline-flex items-center justify-center gap-x-3 rounded-xl border border-transparent bg-secondary-accent px-4 py-3 text-center text-sm font-medium text-orange-800 transition duration-300 hover:bg-secondary hover:shadow-2xl hover:shadow-secondary focus:outline-none focus-visible:-translate-y-1 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-secondary 2xl:text-base"
            href="https://github.com/mearashadowfax/OpenStove"
            target="_blank"
            rel="noopener noreferrer"
          >
            <Icon name="github-body" class="h-4 w-4" />
            Contribute with GitHub
          </a>
        </div>
      </div>
      <!-- End Col -->

      <div
        class="space-y-6 text-pretty text-stone-600 md:text-lg lg:space-y-10 2xl:text-xl dark:text-stone-400"
      >
        <!-- Icon Block -->
        <div class="flex">
          <!-- Icon -->
          <span
            class="mx-aut inline-flex flex-shrink-0 items-center justify-center"
          >
            <svg
              class="h-8 w-8 flex-shrink-0 fill-stone-400 dark:fill-stone-600"
              height="24"
              viewBox="0 -960 960 960"
              width="24"
              stroke="currentColor"
            >
              <path
                d="M480-600v280q0 17 11.5 28.5T520-280q17 0 28.5-11.5T560-320v-320q0-17-11.5-28.5T520-680h-80q-17 0-28.5 11.5T400-640q0 17 11.5 28.5T440-600h40ZM200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h560q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H200Zm0-80h560v-560H200v560Zm0-560v560-560Z"
              ></path>
            </svg>
          </span>
          <div class="ms-5 sm:ms-8">
            <p>
              Visit our GitHub repository, linked at the top of our website or
              directly accessible through the given GitHub Repository Link.
            </p>
          </div>
        </div>
        <!-- End Icon Block -->

        <!-- Icon Block -->
        <div class="flex">
          <!-- Icon -->
          <span
            class="mx-auto inline-flex flex-shrink-0 items-center justify-center"
          >
            <svg
              class="h-8 w-8 flex-shrink-0 fill-stone-400 dark:fill-stone-600"
              height="24"
              viewBox="0 -960 960 960"
              width="24"
              stroke="currentColor"
            >
              <path
                d="M440-360v-80h80q33 0 56.5-23.5T600-520v-80q0-33-23.5-56.5T520-680H400q-17 0-28.5 11.5T360-640q0 17 11.5 28.5T400-600h120v80h-80q-33 0-56.5 23.5T360-440v120q0 17 11.5 28.5T400-280h160q17 0 28.5-11.5T600-320q0-17-11.5-28.5T560-360H440ZM200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h560q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H200Zm0-80h560v-560H200v560Zm0-560v560-560Z"
              ></path>
            </svg>
          </span>
          <div class="ms-5 sm:ms-8">
            <p>
              Fork the repository to your own GitHub account. This creates a
              personal copy for you to work with.
            </p>
          </div>
        </div>
        <!-- End Icon Block -->

        <!-- Icon Block -->
        <div class="flex">
          <!-- Icon -->
          <span
            class="mx-auto inline-flex flex-shrink-0 items-center justify-center"
          >
            <svg
              class="h-8 w-8 flex-shrink-0 fill-stone-400 dark:fill-stone-600"
              height="24"
              viewBox="0 -960 960 960"
              width="24"
              stroke="currentColor"
            >
              <path
                d="M520-280q33 0 56.5-23.5T600-360v-60q0-26-17-43t-43-17q26 0 43-17t17-43v-60q0-33-23.5-56.5T520-680H400q-17 0-28.5 11.5T360-640q0 17 11.5 28.5T400-600h120v80h-40q-17 0-28.5 11.5T440-480q0 17 11.5 28.5T480-440h40v80H400q-17 0-28.5 11.5T360-320q0 17 11.5 28.5T400-280h120ZM200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h560q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H200Zm0-80h560v-560H200v560Zm0-560v560-560Z"
              ></path>
            </svg>
          </span>
          <div class="ms-5 sm:ms-8">
            <p>
              Write down your recipe in a markdown file (.md), following our
              simple recipe format guidelines to keep our recipes neat and easy
              to use.
            </p>
          </div>
        </div>
        <!-- End Icon Block -->
        <!-- Icon Block -->
        <div class="flex">
          <!-- Icon -->
          <span
            class="mx-auto inline-flex flex-shrink-0 items-center justify-center"
          >
            <svg
              class="h-8 w-8 flex-shrink-0 fill-stone-400 dark:fill-stone-600"
              height="24"
              viewBox="0 -960 960 960"
              width="24"
              stroke="currentColor"
            >
              <path
                d="M520-440v120q0 17 11.5 28.5T560-280q17 0 28.5-11.5T600-320v-320q0-17-11.5-28.5T560-680q-17 0-28.5 11.5T520-640v120h-80v-120q0-17-11.5-28.5T400-680q-17 0-28.5 11.5T360-640v160q0 17 11.5 28.5T400-440h120ZM200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h560q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H200Zm0-80h560v-560H200v560Zm0-560v560-560Z"
              ></path>
            </svg>
          </span>
          <div class="ms-5 sm:ms-8">
            <p>
              Locate the right spot for your recipe within the collections in
              the repository and add your markdown file there.
            </p>
          </div>
        </div>
        <!-- End Icon Block -->
        <!-- Icon Block -->
        <div class="flex">
          <!-- Icon -->
          <span
            class="mx-auto inline-flex flex-shrink-0 items-center justify-center"
          >
            <svg
              class="h-8 w-8 flex-shrink-0 fill-stone-400 dark:fill-stone-600"
              height="24"
              viewBox="0 -960 960 960"
              width="24"
              stroke="currentColor"
            >
              <path
                d="M520-280q33 0 56.5-23.5T600-360v-80q0-33-23.5-56.5T520-520h-80v-80h120q17 0 28.5-11.5T600-640q0-17-11.5-28.5T560-680H400q-17 0-28.5 11.5T360-640v160q0 17 11.5 28.5T400-440h120v80H400q-17 0-28.5 11.5T360-320q0 17 11.5 28.5T400-280h120ZM200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h560q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H200Zm0-80h560v-560H200v560Zm0-560v560-560Z"
              ></path>
            </svg>
          </span>
          <div class="ms-5 sm:ms-8">
            <p>
              Submit a pull request to us with your new recipe. Tell us a bit
              about the recipe and why you think it will be a valuable addition
              to OpenStove.
            </p>
          </div>
        </div>
        <!-- End Icon Block -->
        <!-- Icon Block -->
        <div class="flex">
          <!-- Icon -->
          <span
            class="mx-auto inline-flex flex-shrink-0 items-center justify-center"
          >
            <svg
              class="h-8 w-8 flex-shrink-0 fill-stone-400 dark:fill-stone-600"
              height="24"
              viewBox="0 -960 960 960"
              width="24"
              stroke="currentColor"
            >
              <path
                d="M440-280h80q33 0 56.5-23.5T600-360v-80q0-33-23.5-56.5T520-520h-80v-80h80q17 0 28.5-11.5T560-640q0-17-11.5-28.5T520-680h-80q-33 0-56.5 23.5T360-600v240q0 33 23.5 56.5T440-280Zm0-160h80v80h-80v-80ZM200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h560q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H200Zm0-80h560v-560H200v560Zm0-560v560-560Z"
              ></path>
            </svg>
          </span>
          <div class="ms-5 sm:ms-8">
            <p>
              If it's all good to go, your recipe will be merged into our
              collection, and just like that, your dish becomes part of
              OpenStove's recipe library.
            </p>
          </div>
        </div>
        <!-- End Icon Block -->
      </div>
      <!-- End Col -->
    </div>
    <!-- End Grid -->
  </div>
  <!-- End Contribution Block -->

  <!-- Bottom Content Section  -->
  <div class="py-6 sm:py-8 lg:py-12">
    <!-- Grid -->
    <div class="md:grid md:grid-cols-2 md:items-center md:gap-12 xl:gap-32">
      <!-- Icon -->
      <div>
        <Icon
          class="mx-auto h-auto w-3/4 md:w-10/12 2xl:w-3/4"
          name="placeholder"
        />
      </div>
      <!-- End Icon -->
      <div class="mt-5 sm:mt-10 lg:mt-0">
        <div class="space-y-6 sm:space-y-8">
          <!-- Content -->
          <div class="space-y-2 md:space-y-4">
            <p
              class="text-pretty text-lg leading-relaxed text-stone-600 sm:text-xl 2xl:text-2xl dark:text-stone-400"
            >
              OpenStove is your kitchen away from the kitchen — a place to
              discover, save, and share what's cooking. So what are you waiting
              for? Come join in, click through our recipes, and let's whip up
              some delicious journeys together at OpenStove!
            </p>
          </div>
          <!-- End Content -->
        </div>
      </div>
    </div>
    <!-- End Grid -->
  </div>
  <!-- End Bottom Content -->
</MainLayout>
