---
import MainLayout from "../layouts/MainLayout.astro"
import { Icon } from "astro-icon/components";
---

<MainLayout title="About | OpenStove">

       <!--Hero Section-->
      <div class="mt-10 py-6 sm:py-8 lg:py-12">
      
          <div
            class="rounded-xl bg-gradient-to-r from-primary to-secondary px-4 py-6 md:py-8 lg:py-12"
          >
            <p
              class="mb-2 bg-gradient-to-l from-[#FF512F] to-[#F09819] bg-clip-text text-center text-sm lg:text-base font-medium text-transparent md:mb-3"
            >
              Introducing OpenStove:
            </p>
            <h2
              class="mx-auto mb-4 max-w-3xl 2xl:max-w-4xl text-balance text-center text-3xl font-bold text-dark sm:text-4xl md:mb-6 md:text-5xl 2xl:text-6xl"
            >
              A Curated Collection of Community-Crafted Recipes
            </h2>

            <p
              class="mx-auto max-w-screen-md text-pretty text-center text-stone-600 md:text-lg"
            >
              Explore a growing repository of culinary delights, meticulously
              organized and shared through GitHub contributions.
            </p>
          </div>
        
      </div>
      <!-- End Hero -->


      <!-- Top Content Section  -->
      <div
        class="py-6 sm:py-8 lg:py-12"
      >
        <!-- Grid -->
        <div class="md:grid md:grid-cols-2 md:items-center md:gap-12 xl:gap-32">
          

          <div class="mt-5 sm:mt-10 lg:mt-0">
            <div class="space-y-6 sm:space-y-8">
              <!-- Title -->
              <div class="space-y-2 md:space-y-4">
                <h2
                  class="text-balance text-3xl tracking-tight font-bold text-dark lg:text-4xl 2xl:text-5xl dark:text-stone-100"
                >
                  Hello to all who love cooking!
                </h2>
                <p
                  class="text-pretty text-stone-600 sm:text-lg 2xl:text-xl dark:text-stone-400"
                >
                  OpenStove is more than just a recipe website; it's a place
                  where cooking enthusiasts can come together to share their
                  favorite recipes without any annoying ads or fees — completely
                  free.
                  <br /><br />

                  Born from the belief that cooking should be distraction-free
                  and without commercial intrusions, OpenStove thrives on the
                  simplicity of sharing recipes. No ads, no paywalls — just
                  direct access to a treasure trove of dishes curated and
                  cherished by an ever-growing community of food lovers.
                </p>
              </div>
              <!-- End Title -->
            </div>
          </div>
          <!-- End Col -->
          <div>
            <Icon
              class="mx-auto h-auto w-3/4 md:w-10/12 2xl:w-3/4"
              name="making-taco"
            />
          </div>
          <!-- End Col -->
        </div>
        <!-- End Grid -->
      </div>
      <!-- End Top Content -->

      <!-- Features Section-->
      <div class="py-12 sm:py-16 lg:py-24">
        <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
          <h2
            class="mb-4 text-balance text-center text-2xl font-bold text-dark md:mb-6 md:text-3xl 2xl:text-4xl dark:text-stone-100"
          >
            Designed for Culinary Enthusiasts, Just Like You
          </h2>

          <p
            class="mx-auto max-w-screen-md text-pretty text-center text-stone-600 md:text-lg 2xl:text-xl dark:text-stone-400"
          >
            At OpenStove, we're committed to enhancing and sharing the joy of
            home cooking. Discover and contribute recipes in a community that
            celebrates culinary passion.
          </p>
        </div>

        <!-- Feature Cards -->
        <div
          class="mx-auto max-w-screen-2xl px-4 pt-6 sm:px-6 sm:pt-8 lg:px-8 lg:pt-12"
        >
          <!-- Grid -->
          <div class="grid gap-6 text-center lg:grid-cols-2">
            <!-- Card -->
            <div
              class="block rounded-xl bg-secondary dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"
            >
              <div class="flex h-full flex-col p-4 sm:p-6">
                <h3
                  class="text-balance text-lg font-semibold text-stone-800 md:text-2xl 2xl:text-3xl"
                >
                  Save Your Favorites
                </h3>
                <p class="mt-2 text-pretty text-stone-700 md:text-lg 2xl:text-xl">
                  Hit the bookmark icon, and your chosen recipes are saved in your browser's local storage — no sign-up, all simplicity. Ready to cook? Your 'Saved Recipes' tab keeps all your culinary picks in one spot, for easy access anytime.
                </p>
              </div>
            </div>
            <!-- End Card -->

            <!-- Card -->
            <div
              class="block rounded-xl bg-primary dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"
            >
              <div class="flex h-full flex-col p-4 sm:p-6">
                <h3
                  class="text-balance text-lg font-semibold text-stone-800 sm:text-2xl 2xl:text-3xl"
                >
                  Share Your Recipes
                </h3>
                <p class="mt-2 text-pretty text-stone-700 md:text-lg 2xl:text-xl">
                  Got a tasty recipe? We'd love for you to add it to our
                  collection. Since OpenStove is all about contributions from
                  culinary enthusiasts like you, sharing your kitchen successes
                  is essential to our collective cooking experience.
                </p>
              </div>
            </div>
            <!-- End Card -->
          </div>
          <!-- End Grid -->
        </div>
        <!-- End Card -->
      </div>
      <!-- End Features -->

      <!-- Contribution Block -->
      <div
        class="py-6 sm:py-8 lg:py-12"
      >
        <!-- Grid -->
        <div id="contribution" class="grid gap-12 md:grid-cols-2">
          <div class="lg:w-3/4">
            <h2
              class="text-balance text-3xl font-bold text-dark lg:text-4xl 2xl:text-5xl dark:text-stone-100"
            >
              Contribution is straightforward:
            </h2>
            <p
              class="mt-4 md:mt-8 text-pretty text-stone-600 md:text-lg 2xl:text-xl dark:text-stone-400"
            >
              Joining the OpenStove community is a piece of cake. Follow these
              simple steps to add your special recipe to our collection and
              share your culinary flair with the world.
            </p>
            <div class="mt-4 md:mt-8">
              <a
                class="inline-flex items-center justify-center gap-x-3 rounded-xl border border-transparent bg-secondary-accent px-4 py-3 text-center text-sm font-medium text-orange-800 transition duration-300 hover:bg-secondary hover:shadow-2xl hover:shadow-secondary focus:outline-none focus-visible:-translate-y-1 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-secondary 2xl:text-base"
                href="https://github.com/mearashadowfax/OpenStove"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg
                  class="w-4.5 h-4.5"
                  height="16"
                  viewBox="0 0 438.549 438.549"
                  width="16"
                >
                  <path
                    class="fill-current"
                    d="M409.132 114.573c-19.608-33.596-46.205-60.194-79.798-79.8-33.598-19.607-70.277-29.408-110.063-29.408-39.781 0-76.472 9.804-110.063 29.408-33.596 19.605-60.192 46.204-79.8 79.8C9.803 148.168 0 184.854 0 224.63c0 47.78 13.94 90.745 41.827 128.906 27.884 38.164 63.906 64.572 108.063 79.227 5.14.954 8.945.283 11.419-1.996 2.475-2.282 3.711-5.14 3.711-8.562 0-.571-.049-5.708-.144-15.417a2549.81 2549.81 0 01-.144-25.406l-6.567 1.136c-4.187.767-9.469 1.092-15.846 1-6.374-.089-12.991-.757-19.842-1.999-6.854-1.231-13.229-4.086-19.13-8.559-5.898-4.473-10.085-10.328-12.56-17.556l-2.855-6.57c-1.903-4.374-4.899-9.233-8.992-14.559-4.093-5.331-8.232-8.945-12.419-10.848l-1.999-1.431c-1.332-.951-2.568-2.098-3.711-3.429-1.142-1.331-1.997-2.663-2.568-3.997-.572-1.335-.098-2.43 1.427-3.289 1.525-.859 4.281-1.276 8.28-1.276l5.708.853c3.807.763 8.516 3.042 14.133 6.851 5.614 3.806 10.229 8.754 13.846 14.842 4.38 7.806 9.657 13.754 15.846 17.847 6.184 4.093 12.419 6.136 18.699 6.136 6.28 0 11.704-.476 16.274-1.423 4.565-.952 8.848-2.383 12.847-4.285 1.713-12.758 6.377-22.559 13.988-29.41-10.848-1.14-20.601-2.857-29.264-5.14-8.658-2.286-17.605-5.996-26.835-11.14-9.235-5.137-16.896-11.516-22.985-19.126-6.09-7.614-11.088-17.61-14.987-29.979-3.901-12.374-5.852-26.648-5.852-42.826 0-23.035 7.52-42.637 22.557-58.817-7.044-17.318-6.379-36.732 1.997-58.24 5.52-1.715 13.706-.428 24.554 3.853 10.85 4.283 18.794 7.952 23.84 10.994 5.046 3.041 9.089 5.618 12.135 7.708 17.705-4.947 35.976-7.421 54.818-7.421s37.117 2.474 54.823 7.421l10.849-6.849c7.419-4.57 16.18-8.758 26.262-12.565 10.088-3.805 17.802-4.853 23.134-3.138 8.562 21.509 9.325 40.922 2.279 58.24 15.036 16.18 22.559 35.787 22.559 58.817 0 16.178-1.958 30.497-5.853 42.966-3.9 12.471-8.941 22.457-15.125 29.979-6.191 7.521-13.901 13.85-23.131 18.986-9.232 5.14-18.182 8.85-26.84 11.136-8.662 2.286-18.415 4.004-29.263 5.146 9.894 8.562 14.842 22.077 14.842 40.539v60.237c0 3.422 1.19 6.279 3.572 8.562 2.379 2.279 6.136 2.95 11.276 1.995 44.163-14.653 80.185-41.062 108.068-79.226 27.88-38.161 41.825-81.126 41.825-128.906-.01-39.771-9.818-76.454-29.414-110.049z"
                    fill="currentColor"
                  ></path>
                </svg>
                Contribute with GitHub
              </a>
            </div>
          </div>
          <!-- End Col -->

          <div
            class="space-y-6 text-pretty text-stone-600 md:text-lg 2xl:text-xl lg:space-y-10 dark:text-stone-400"
          >
            <!-- Icon Block -->
            <div class="flex">
              <!-- Icon -->
              <span
                class="mx-aut inline-flex flex-shrink-0 items-center justify-center"
              >
                <svg
                  class="h-8 w-8 flex-shrink-0 fill-stone-400 dark:fill-stone-600"
                  height="24"
                  viewBox="0 -960 960 960"
                  width="24"
                  stroke="currentColor"
                >
                  <path
                    d="M480-600v280q0 17 11.5 28.5T520-280q17 0 28.5-11.5T560-320v-320q0-17-11.5-28.5T520-680h-80q-17 0-28.5 11.5T400-640q0 17 11.5 28.5T440-600h40ZM200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h560q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H200Zm0-80h560v-560H200v560Zm0-560v560-560Z"
                  />
                </svg>
              </span>
              <div class="ms-5 sm:ms-8">
                <p>
                  Visit our GitHub repository, linked at the top of our
                  website or directly accessible through the given GitHub
                  Repository Link.
                </p>
              </div>
            </div>
            <!-- End Icon Block -->

            <!-- Icon Block -->
            <div class="flex">
              <!-- Icon -->
              <span
                class="mx-auto inline-flex flex-shrink-0 items-center justify-center"
              >
                <svg
                  class="h-8 w-8 flex-shrink-0 fill-stone-400 dark:fill-stone-600"
                  height="24"
                  viewBox="0 -960 960 960"
                  width="24"
                  stroke="currentColor"
                >
                  <path
                    d="M440-360v-80h80q33 0 56.5-23.5T600-520v-80q0-33-23.5-56.5T520-680H400q-17 0-28.5 11.5T360-640q0 17 11.5 28.5T400-600h120v80h-80q-33 0-56.5 23.5T360-440v120q0 17 11.5 28.5T400-280h160q17 0 28.5-11.5T600-320q0-17-11.5-28.5T560-360H440ZM200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h560q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H200Zm0-80h560v-560H200v560Zm0-560v560-560Z"
                  />
                </svg>
              </span>
              <div class="ms-5 sm:ms-8">
                <p>
                  Fork the repository to your own GitHub account. This creates a
                  personal copy for you to work with.
                </p>
              </div>
            </div>
            <!-- End Icon Block -->

            <!-- Icon Block -->
            <div class="flex">
              <!-- Icon -->
              <span
                class="mx-auto inline-flex flex-shrink-0 items-center justify-center"
              >
                <svg
                  class="h-8 w-8 flex-shrink-0 fill-stone-400 dark:fill-stone-600"
                  height="24"
                  viewBox="0 -960 960 960"
                  width="24"
                  stroke="currentColor"
                >
                  <path
                    d="M520-280q33 0 56.5-23.5T600-360v-60q0-26-17-43t-43-17q26 0 43-17t17-43v-60q0-33-23.5-56.5T520-680H400q-17 0-28.5 11.5T360-640q0 17 11.5 28.5T400-600h120v80h-40q-17 0-28.5 11.5T440-480q0 17 11.5 28.5T480-440h40v80H400q-17 0-28.5 11.5T360-320q0 17 11.5 28.5T400-280h120ZM200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h560q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H200Zm0-80h560v-560H200v560Zm0-560v560-560Z"
                  />
                </svg>
              </span>
              <div class="ms-5 sm:ms-8">
                <p>
                  Write down your recipe in a markdown file (.md), following our
                  simple recipe format guidelines to keep our recipes neat and
                  easy to use.
                </p>
              </div>
            </div>
            <!-- End Icon Block -->
            <!-- Icon Block -->
            <div class="flex">
              <!-- Icon -->
              <span
                class="mx-auto inline-flex flex-shrink-0 items-center justify-center"
              >
                <svg
                  class="h-8 w-8 flex-shrink-0 fill-stone-400 dark:fill-stone-600"
                  height="24"
                  viewBox="0 -960 960 960"
                  width="24"
                  stroke="currentColor"
                >
                  <path
                    d="M520-440v120q0 17 11.5 28.5T560-280q17 0 28.5-11.5T600-320v-320q0-17-11.5-28.5T560-680q-17 0-28.5 11.5T520-640v120h-80v-120q0-17-11.5-28.5T400-680q-17 0-28.5 11.5T360-640v160q0 17 11.5 28.5T400-440h120ZM200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h560q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H200Zm0-80h560v-560H200v560Zm0-560v560-560Z"
                  />
                </svg>
              </span>
              <div class="ms-5 sm:ms-8">
                <p>
                  Locate the right spot for your recipe within the collections
                  in the repository and add your markdown file there.
                </p>
              </div>
            </div>
            <!-- End Icon Block -->
            <!-- Icon Block -->
            <div class="flex">
              <!-- Icon -->
              <span
                class="mx-auto inline-flex flex-shrink-0 items-center justify-center"
              >
                <svg
                  class="h-8 w-8 flex-shrink-0 fill-stone-400 dark:fill-stone-600"
                  height="24"
                  viewBox="0 -960 960 960"
                  width="24"
                  stroke="currentColor"
                >
                  <path
                    d="M520-280q33 0 56.5-23.5T600-360v-80q0-33-23.5-56.5T520-520h-80v-80h120q17 0 28.5-11.5T600-640q0-17-11.5-28.5T560-680H400q-17 0-28.5 11.5T360-640v160q0 17 11.5 28.5T400-440h120v80H400q-17 0-28.5 11.5T360-320q0 17 11.5 28.5T400-280h120ZM200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h560q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H200Zm0-80h560v-560H200v560Zm0-560v560-560Z"
                  />
                </svg>
              </span>
              <div class="ms-5 sm:ms-8">
                <p>
                  Submit a pull request to us with your new recipe. Tell us a
                  bit about the recipe and why you think it will be a valuable
                  addition to OpenStove.
                </p>
              </div>
            </div>
            <!-- End Icon Block -->
            <!-- Icon Block -->
            <div class="flex">
              <!-- Icon -->
              <span
                class="mx-auto inline-flex flex-shrink-0 items-center justify-center"
              >
                <svg
                  class="h-8 w-8 flex-shrink-0 fill-stone-400 dark:fill-stone-600"
                  height="24"
                  viewBox="0 -960 960 960"
                  width="24"
                  stroke="currentColor"
                >
                  <path
                    d="M440-280h80q33 0 56.5-23.5T600-360v-80q0-33-23.5-56.5T520-520h-80v-80h80q17 0 28.5-11.5T560-640q0-17-11.5-28.5T520-680h-80q-33 0-56.5 23.5T360-600v240q0 33 23.5 56.5T440-280Zm0-160h80v80h-80v-80ZM200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h560q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H200Zm0-80h560v-560H200v560Zm0-560v560-560Z"
                  />
                </svg>
              </span>
              <div class="ms-5 sm:ms-8">
                <p>
                  If it's all good to go, your recipe will be merged into our
                  collection, and just like that, your dish becomes part of
                  OpenStove's recipe library.
                </p>
              </div>
            </div>
            <!-- End Icon Block -->
          </div>
          <!-- End Col -->
        </div>
        <!-- End Grid -->
      </div>
      <!-- End Contribution Block -->

      <!-- Bottom Content Section  -->
      <div
        class="py-6 sm:py-8 lg:py-12"
      >
        <!-- Grid -->
        <div class="md:grid md:grid-cols-2 md:items-center md:gap-12 xl:gap-32">
          <!-- End Col -->
          <div>
            <Icon
              class="mx-auto h-auto w-3/4 md:w-10/12 2xl:w-3/4"
              name="couple-eating-tacos"
            />
          </div>
          <!-- End Col -->
          <div class="mt-5 sm:mt-10 lg:mt-0">
            <div class="space-y-6 sm:space-y-8">
              <!-- Title -->
              <div class="space-y-2 md:space-y-4">
                <p
                  class="text-pretty text-stone-600 text-lg sm:text-xl 2xl:text-2xl leading-relaxed dark:text-stone-400"
                >
                  OpenStove is your kitchen away from the kitchen — a place to
                  discover, save, and share what's cooking. So what are you
                  waiting for? Come join in, click through our recipes, and
                  let's whip up some delicious journeys together at OpenStove!
                </p>
              </div>
              <!-- End Title -->
            </div>
          </div>
          
        </div>
        <!-- End Grid -->
      </div>
      <!-- End Bottom Content -->
      
    
    </MainLayout>
