---
import { Icon } from "astro-icon/components";
---

<!-- Footer -->
<footer class="mx-auto mt-16 w-full bg-primary py-6">
  <!-- Grid -->
  <div class="mx-auto max-w-screen-2xl px-4 text-center md:px-8">
    <div class="flex justify-center">
      <Icon name="logo-footer" class="h-auto w-36" />
    </div>
    <!-- End Col -->

    <div class="mt-4">
      <p class="text-footer 2xl:text-lg">Explore. Share. Cook.</p>
      <p class="text-pretty text-footer 2xl:text-lg">
        Dive into a community-curated collection of recipes.
      </p>
    </div>
    <hr class="my-4 border border-black/[.05]" />
    <div class="mt-3 flex flex-col-reverse justify-between gap-2 md:flex-row">
      <p class="text-pretty text-sm text-footer-light 2xl:text-base">
        © <span id="current-year"></span> OpenStove. All Rights Reserved.
      </p>
      <p class="text-pretty text-sm text-footer-light 2xl:text-base">
        Crafted by
        <a
          class="focus-visible:ring-secondary font-medium text-footer underline underline-offset-2 transition duration-300 hover:text-dark hover:decoration-dashed focus:outline-none focus-visible:outline-none focus-visible:ring-2"
          href="https://sobstvennoai.dev"
          target="_blank">sobstvennoAI</a
        >
        for a wholesome cooking journey online.
      </p>
    </div>
  </div>
  <!-- End Grid -->
</footer>
<!-- End Footer-->

<script>
  const year = new Date().getFullYear();
  const element = document.getElementById("current-year");
  element!.innerText = year.toString();
</script>
