---
const { currentPage, totalPages, disablePrevious, disableNext } = Astro.props;

interface Props {
  currentPage: number;
  totalPages: number;
  disablePrevious: boolean;
  disableNext: boolean;
}
---

<nav role="navigation" aria-label="Pagination" class="mt-10 flex items-center justify-center gap-x-1 xl:justify-end">
  <a
    href={'/recipes?page=' + (currentPage - 1)}
    aria-label="Go to previous page"
    class={disablePrevious ? "inline-flex group min-h-[38px] min-w-[38px] items-center justify-center gap-x-1.5 rounded-lg px-2.5 py-2 text-sm text-dark hover:bg-orange-100 focus:bg-orange-100 focus:outline-none dark:text-stone-100 dark:hover:bg-stone-100/[.05] dark:focus:bg-stone-100/[.05] pointer-events-none opacity-50" : "inline-flex group min-h-[38px] min-w-[38px] items-center justify-center gap-x-1.5 rounded-lg px-2.5 py-2 text-sm text-dark hover:bg-orange-100 focus:bg-orange-100 focus:outline-none dark:text-stone-100 dark:hover:bg-stone-100/[.05] dark:focus:bg-stone-100/[.05]"}
  >
    <svg
      class="h-3.5 w-3.5 flex-shrink-0 transition ease-in-out group-hover:translate-x-1"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path d="m15 18-6-6 6-6"></path>
    </svg>
    <span>Previous</span>
  </a>
  <div class="flex items-center gap-x-1">
    {
      Array.from({ length: totalPages }, (_, i) => i + 1).map((page) => (
          <a
              href={'/recipes?page=' + page}
              class={`flex min-h-[38px] min-w-[38px] items-center justify-center rounded-lg px-3 py-2 text-sm text-dark focus:outline-none disabled:pointer-events-none disabled:opacity-50 ${currentPage === page ? "bg-orange-200 focus:bg-orange-200 dark:bg-stone-700 dark:text-stone-100 dark:focus:bg-gray-500" : "hover:bg-orange-100 focus:bg-orange-100 dark:text-white dark:hover:bg-stone-100/[.05] dark:focus:bg-stone-100/[.05]"}`}
              aria-current="page"
          >
            {page}
          </a>
      ))
    }
  </div>
  <a
    href={'/recipes?page=' + (currentPage + 1)}
    aria-label="Go to next page"
    class={disableNext ? "inline-flex group min-h-[38px] min-w-[38px] items-center justify-center gap-x-1.5 rounded-lg px-2.5 py-2 text-sm text-dark hover:bg-orange-100 focus:bg-orange-100 focus:outline-none dark:text-stone-100 dark:hover:bg-stone-100/[.05] dark:focus:bg-stone-100/[.05] pointer-events-none opacity-50" : "inline-flex group min-h-[38px] min-w-[38px] items-center justify-center gap-x-1.5 rounded-lg px-2.5 py-2 text-sm text-dark hover:bg-orange-100 focus:bg-orange-100 focus:outline-none dark:text-stone-100 dark:hover:bg-stone-100/[.05] dark:focus:bg-stone-100/[.05]"}
  >
    <span>Next</span>
    <svg
      class="h-3.5 w-3.5 flex-shrink-0 transition ease-in-out group-hover:translate-x-1"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path d="m9 18 6-6-6-6"></path>
    </svg>
  </a>
</nav>
