<div class="flex justify-center py-3 sm:py-6 lg:py-8">
    <div
      class="flex rounded-lg bg-orange-200 p-1 2xl:p-2 transition duration-300 hover:bg-orange-100 dark:bg-stone-700/50 dark:hover:bg-stone-700"
    >
      <nav class="flex space-x-2" aria-label="Tabs" role="tablist">
        <button
          type="button"
          class="active inline-flex items-center gap-x-2 rounded-lg bg-transparent px-4 py-3 text-sm 2xl:text-base font-medium text-stone-500 transition duration-300 hover:text-stone-600 disabled:pointer-events-none disabled:opacity-50 hs-tab-active:bg-orange-50 hs-tab-active:text-orange-500 dark:text-stone-400 dark:hover:text-stone-200 dark:hs-tab-active:bg-stone-800 dark:hs-tab-active:text-primary-accent-dark focus:outline-none focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-secondary"
          id="segment-item-1"
          data-hs-tab="#segment-1"
          aria-controls="segment-1"
        >
          Step-by-Step
        </button>
        <button
          type="button"
          class="inline-flex items-center gap-x-2 rounded-lg bg-transparent px-4 py-3 text-sm 2xl:text-base font-medium text-stone-500 transition duration-300 hover:text-stone-600 disabled:pointer-events-none disabled:opacity-50 hs-tab-active:bg-orange-50 hs-tab-active:text-orange-500 dark:text-stone-400 dark:hover:text-stone-200 dark:hs-tab-active:bg-stone-800 dark:hs-tab-active:text-primary-accent-dark focus:outline-none focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-secondary"
          id="segment-item-2"
          data-hs-tab="#segment-2"
          aria-controls="segment-2"
        >
          View All Steps
        </button>
      </nav>
    </div>
</div>

<script is:inline src="/scripts/@preline/tabs/index.js"></script>