---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import Meta from "../components/Meta.astro";

const { title = "OpenStove" } = Astro.props;

interface Props {
  title?: string;
}
---

<html class="scroll-pt-16 scroll-smooth" lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{title}</title>
    <Meta />
    <script is:inline>
      if (
        localStorage.getItem("hs_theme") === "dark" ||
        (!("hs_theme" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }
    </script>
    <style>
      body {
        overflow-y: scroll;
      }

      body::-webkit-scrollbar {
        width: 0.5rem;
      }

      @media (min-width: 1536px) {
        body::-webkit-scrollbar {
          width: 0.75rem;
        }
      }

      body::-webkit-scrollbar-track {
        background: #f5f5f4;
        border-radius: 9999px;
      }

      body::-webkit-scrollbar-thumb {
        background: #ff9a6c;
        border-radius: 9999px;
      }

      .dark body::-webkit-scrollbar-track {
        background: #44403c;
      }

      .dark body::-webkit-scrollbar-thumb {
        background: #f4bf3c;
      }
    </style>
  </head>
  <body
    class="bg-orange-50 text-dark selection:bg-secondary selection:text-stone-700 dark:bg-dark dark:text-stone-100 dark:selection:bg-primary dark:selection:text-stone-700"
  >
    <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
      <Navbar />

      <slot />
    </div>

    <Footer />
  </body>
</html>
